/**
 * Theme Name: Design Comuni Wordpress theme child
 * Template:   design-comuni-wordpress-theme
 * 
 * ...other header fields
 */


body {
	color: #ff7f00;
	background: #121200;
	
}

.it-header-center-wrapper {
	background: #912c27;
}

body {
	background: #921200;
}

.it-brand-title {
	font-size: 1em;
}

.it-header-navbar-wrapper
{
	background: #912c27;
}
.it-header-center-wrapper
{
	background: #912c27;
}
.navbar {
	background: #912c27;
}
.it-carousel-wrapper
{
	background: #912c27;
}
.it-header-block
{
	background: #912c27;
}
.home-carousel-title
{
	background: #912c27;
}
.it-header-block-title
{
	background-color: #912c27 !important ;
}
.it-calendar-wrapper
{
	background: #912c27;
}
.it-header-slim-wrapper
{
	background: #7a1510;
}
.btn-primary
{
	background-color: #7a1510;
}
.btn-primary:hover
{
	background-color: #68100d;
}
.bg-primary
{
	/*--bs-primary-rgb: #7a1510;*/
	background-color: #7a1510 !important;
}

.it-header-slim-right-zone
{
	background: #7a1510 !important;
}
.it-user-wrapper.nav-item.dropdown
{
	background: #7a1510 !important;
}